# Exercise: Data Analysis with Iris Dataset

## Dataset: Iris Dataset

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind


iris = sns.load_dataset("iris")


---

### Module 1: Pandas

#### Question 1:
Load the Iris dataset into a pandas DataFrame and display the first 5 rows of the dataset.

#### Question 2:
Calculate the mean, median, and standard deviation of the 'sepal length (cm)' column.

#### Question 3:
Filter the dataset to include only rows where the 'species' column is 'versicolor' and display the first 5 rows.


---

### Module 2: NumPy

#### Question 1:
Calculate the mean, median, and standard deviation of the 'petal width (cm)' column using NumPy.

#### Question 2:
Create a new column 'sepal_area' in the DataFrame by multiplying the 'sepal length (cm)' and 'sepal width (cm)' columns.

#### Question 3:
Count the number of unique values in the 'species' column using NumPy.

---

### Module 3: Matplotlib

#### Question 1:
Create a scatter plot of 'sepal length (cm)' vs 'sepal width (cm)'.

#### Question 2:
Create a histogram of 'petal length (cm)' with 20 bins.

#### Question 3:
Plot the boxplot of 'petal width (cm)' grouped by 'species'.

---

### Module 4: Seaborn

#### Question 1:
Create a pairplot of the entire dataset colored by 'species'.

#### Question 2:
Create a heatmap showing the correlation matrix of the numerical columns in the dataset.

#### Question 3:
Create a violin plot of 'sepal length (cm)' grouped by 'species'.

---

### Module 5: Scipy

#### Question 1:
Perform a t-test to compare the 'sepal length (cm)' of 'setosa' and 'versicolor' species.